<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Big Complication"
        android:supportsRtl="true"
        android:hasCode="false">

        <!-- WFF Version 2: required for targetSdk 34+ and enables all complication types -->
        <property
            android:name="com.google.wear.watchface.format.version"
            android:value="2" />

        <service
            android:name="com.google.android.gms.wearable.WatchFaceService"
            android:exported="true"
            android:label="Big Complication"
            android:permission="android.permission.BIND_WATCH_FACE">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/preview" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/preview" />
        </service>

    </application>
</manifest>
